<%- include partials/header -%>
<%- include partials/main-nav -%>

<div classs = "container">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>

<%- include partials/bottom-nav -%>
<%- include partials/footer -%>

