<!--
  error.ejs
  Chirag Jain
  301307988
  October 2nd, 2022

  This page displays when a wrong url has been entered
-->


<!--Header-->
<%- include partials/header -%>
<%- include partials/main-nav -%>

<div classs = "container">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>

<%- include partials/bottom-nav -%>
<%- include partials/footer -%>

